// ==========================================================================
// Website or App Stylesheet
// ==========================================================================

// // Variables and Colors
// @import "styles/variables-colors";

// // Import Base
// @import "base";

// // Website / App Styles
// @import "styles/header";
// @import "styles/footer";

// // Import Base Helpers
// @import "base/_helpers";

#board {
    width: 400px;
    height: 400px;
    color: white;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#board div {
    background: #7d7d7d;
    display: inline-block;
    width: 8%;
    height: 8%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    border: 4px outset #b7b7b7;
}

#board div:active {
    border: 4px inset #dedede;
    border-style: inset;
    background: #cecccc;
}

#board .empty {
    background: #3a8c60;
}

#board div[data-flag=true] {
    background: #ea8591;
}

/* is bomb style */ 
/*#board div[data-ismine=true] {
    background: #9a2d2d;
}*/
